<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Avião.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" th:width="60em">
        <a class="navbar-brand" href="#">Aeroporto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="/tecnico">Tecnico</a>
                <a class="nav-link" href="/teste">Testes</a>
                <a class="nav-link" href="/teste/realizados">Testes Realizados</a>
                <a class="nav-link" href="/aviao">Aviões</a>
                <a class="nav-link" href="/modelo">Modelos</a>
            </div>
        </div>
    </div>
</nav>
<div class="container d-flex justify-content-center" style="width: 40em; margin-top: 5em;">
    <form action="#" th:action="@{/aviao/cadastro}" method="post" th:object="${aviao}">
        <h1>Cadastro de Aviões</h1>
        <br>
        <div class="form-group">
            <label>Num registro</label>
            <input type="text" class="form-control" th:field="*{num_registro}" required>
        </div>
        <br>
        <div class="form-group">
            <label> Modelo </label>
            <select class="form-select" aria-label="Default select example" th:field="*{modelo.id}">
                <option th:each="modelo : ${modelos}" th:text="${modelo.codigo_modelo}" th:value="${modelo.id}"></option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" style="width: 100%;">Enviar</button>
        </div>
    </form>
</div>
<!-- Fim Formulario -->
<div class="container d-flex justify-content-center" >
    <table class="table table-bordered table-striped table-hover" style="width: 40em; margin-top: 5em; margin-bottom: 5em">
        <thead>
        <tr>
            <th scope="col" colspan="5" style="text-align: center">Listam de modelos</th>
        </tr>
        <tr>
            <th scope="col" style="text-align: center">ID</th>
            <th scope="col" style="text-align: center">Num. Registro</th>
            <th scope="col" style="text-align: center">Num. Modelo</th>
            <th scope="col" style="text-align: center">Excluir</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aviao : ${avioes}">
            <td style="text-align: center" th:text="${aviao.id}"></td>
            <th scope="row" style="text-align: center" th:text="${aviao.num_registro}"></th>
            <th scope="row" style="text-align: center" th:text="${aviao.modelo} ? ${aviao.modelo.codigo_modelo} : 'Sem modelo'"></th>
            <th scope="col" style="text-align: center">
                <a type="submit" class="btn btn-danger" style="width: 100%;" th:href="@{'/aviao/delete?id=' + ${aviao.id}}">Excluir</a>
            </th>
        </tr>
        </tbody>
    </table>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>