<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Testes realizados</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script
            type="application/javascript"
            th:src="@{js/jquery.js}"
    ></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<body>
<script type="application/javascript" th:inline="javascript">

    $( window ).load(function() {
        console.log("foo");
    });

</script>
<div th:insert="Navbar"></div>
<div class="container d-flex justify-content-center" style="width: 40em; margin-top: 5em;">
    <form action="#" th:action="@{/teste/realizado/cadastro}" method="post" th:object="${testeRealizado}">
        <h1>Cadastro de testes realizados</h1>
        <br>
        <label th:id="target">Tecnico: </label>
        <div class="form-group" >
            <select class="form-select" aria-label="Default select example" th:field="*{empregado.id}">
                <option th:each="tecnico : ${tecnicos}" th:text="${tecnico.nome}" th:value="${tecnico.id}"></option>
            </select>
        </div>
        <br>
        <label>Teste</label>
        <div class="form-group">
            <select class="form-select" aria-label="Default select example" th:field="*{teste}">
                <option th:each="teste : ${testes}" th:text="${teste.nome}" th:value="${teste.id}"></option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label>Pontuação obtida</label>
            <input type="number" class="form-control" th:field="*{pontuacao_obtida}" required>
        </div>
        <br>
        <div class="form-group">
            <label>Horas gastas</label>
            <input type="text"  class="form-control" id="data" th:field="*{horas_gastas}" required>
        </div>
        <br>
        <div class="form-group">
            <label>Data</label>
            <input type="date" id="form_hora" class="form-control" required th:field="*{data}">
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" style="width: 100%;">Enviar</button>
        </div>
    </form>
</div>
<!-- Fim Formulario -->
<div class="container d-flex justify-content-center" >
    <table class="table table-bordered table-striped table-hover" style="width: 40em; margin-top: 5em; margin-bottom: 5em">
        <thead>
        <tr>
            <th scope="col" colspan="7" style="text-align: center">Lista de testes realizados</th>
        </tr>
        <tr>
            <th scope="col" style="text-align: center">horas gastas</th>
            <th scope="col" style="text-align: center">nome do teste</th>
            <th scope="col" style="text-align: center">pontuacao obtida</th>
            <th scope="col" style="text-align: center">pontuação</th>
            <th scope="col" style="text-align: center">data</th>
            <th scope="col" style="text-align: center">Excluir</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teste : ${testesrealizados}">
            <th scope="row" style="text-align: center" th:text="${teste.horas_gastas}"></th>
            <th scope="row" style="text-align: center" th:text="${teste.teste.nome}"></th>
            <th scope="row" style="text-align: center" th:text="${teste.pontuacao_obtida}"></th>
            <th scope="row" style="text-align: center" th:text="${teste.teste.pontuacao_max}"></th>
            <th scope="row" style="text-align: center" th:text="${teste.data}"></th>
            <th scope="col" style="text-align: center">
                <a type="submit" class="btn btn-danger" style="width: 100%;" th:href="@{'/teste/realizado/delete?id=' + ${teste.id}}">Excluir</a>
            </th>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>